<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Navigation -->
<div th:fragment="main_navigation" class="android-navigation-container">
    <nav class="android-navigation mdl-navigation">
        <a id="u-long--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="long">Long</a>
        <a id="u-half--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="half">Half</a>
        <a id="u-short--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="short">Short</a>
        <a class="mdl-typography--text-uppercase">|</a>
        <a id="u-short--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="?lang=en">EN</a>
        <a id="u-short--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="?lang=cz">CZ</a>
    </nav>
</div>

<div th:fragment="RRF_navigation" class="android-navigation-container">
    <nav class="android-navigation mdl-navigation">
        <a id="u-long--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="long">Long</a>
        <a id="u-half--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="half">Half</a>
        <a id="u-short--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="short">Short</a>
        <a class="mdl-typography--text-uppercase">|</a>
        <a id="u-half--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="registration_form">Reg form</a>
        <a id="u-short--fillter" class="mdl-navigation__link mdl-typography--text-uppercase" href="all">Races</a>
    </nav>
</div>

</html>