<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>RP: 404 - Page Not Found</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="../static/css/error.css" th:href="@{/css/error.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/media.css" th:href="@{/css/media.css}"/>
    <link href="../static/images/favicon.ico" th:src="@{/images/favicon.ico}" rel="shortcut icon">

</head>
<body>
<div class="row fix-margin-left">
    <div class="container">
        <h1 class="title">Rock Point - Horská výzva</h1>
        <hr class="hr-style-404"/>
        <p class="sub-heading">Na tomto místě se začnou objevovat průběžné výsledky po startu závodu.</p>
        <p class="sub-heading"><b>LONG</b> - po půlnoci z pátku na sobotu</p>
        <p class="sub-heading"><b>HALF, SHORT</b> - sobota dopoledne</p>
        <hr class="hr-style-404"/>
        <p class="sub-heading">At this place the current standings will be displayed after the start of the race.</p>
        <p class="sub-heading"><b>LONG</b> - after midnight from Friday to Saturday</p>
        <p class="sub-heading"><b>HALF, SHORT</b> - Saturday morning</p>
        <!--<a th:href="@{/web}" ><p class="redirect-style-404">Back to competitions</p></a>-->
    </div>
</div>

</body>
</html>